body,
body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #111;
    color: #ccc;
}
header{
    padding: 3rem;
    text-align: center;
    font-size: 4rem;
}

table{
    /* border-collapse: collapse; */
    border-spacing: 0;
    margin: 0 20px;
}

footer{
    display: flex;
    justify-content: center;
}

tr:nth-child(even){
    background-color: hsl(348, 86%, 24%);
}

tr:nth-child(odd){
    background-color: hsl(348, 86%, 18%);
}

th,td{
    padding: 5px 10px;
    border-top:1px solid hsl(348, 86%, 32%);;
    border-right:1px solid hsl(348, 86%, 10%);;
    border-bottom:1px solid hsl(348, 86%, 10%);;
    border-left:1px solid hsl(348, 86%, 32%);;
}

th{
   text-transform: uppercase;
   background-color: #111;
}


td:nth-child(3) {
    text-align: center;
}

td:nth-child(4) {
    text-align: center;
}

td:nth-child(5) {
    text-align: right;
}

tbody tr {
    transition: all 150ms;
}
tbody tr:hover {
    background-color: #000;
}

/* loader */

#loader {
    background: #000;
    padding: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: monospace;
    font-size: 1.5rem;
    display: none;
}

#loader.show {
    display: block;
}

.hide{
    display: none;
}

#villains-row td{
    background-color: #04550f;
}